<div class="logo">
  <img src="assets/imgs/logo.png">
</div>

<div style="text-align: center;">
  <mat-grid-list class="inputsOut" cols="2" rowHeight="70px">
    <mat-grid-tile>
      &nbsp;
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Usuario">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<div class="register">
  <div class="head-blue mt">
    CONTACTO
  </div>

  <div class="form">
    <mat-grid-list cols="2" rowHeight="40px" class="subh">
      <mat-grid-tile>
        PROSPECTO
      </mat-grid-tile>
      <mat-grid-tile>
        ¿QUIÉN SE REGISTRA?
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nombre*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nombre">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Apellido Paterno*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Apellido Paterno">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Apellido Materno*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Apellido Materno">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-checkbox>Sin Correo Electrónico</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Número Celular (10 dígitos)">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Número Celular (10 dígitos)*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Teléfono">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Teléfono*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Parentezco">
            <mat-option value="val1">Papa</mat-option>
            <mat-option value="val2">Mama</mat-option>
            <mat-option value="val2">Abuelo(a)</mat-option>
            <mat-option value="val2">Tutor</mat-option>
            <mat-option value="val1">Hermano(a)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Género*">
            <mat-option value="val1">Hombre</mat-option>
            <mat-option value="val1">Mujer</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Fecha de Nacimiento*">
            <mat-option value="val1">Papa</mat-option>
            <mat-option value="val2">Mama</mat-option>
            <mat-option value="val2">Abuelo(a)</mat-option>
            <mat-option value="val2">Tutor</mat-option>
            <mat-option value="val1">Hermano(a)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Edad*">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>


  </div>





  <div class="head-blue mt">
    ÍNTERES
  </div>


  <div class="form">


    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Campus*">
            <mat-option value="val1">Atizapan</mat-option>
            <mat-option value="val2">Cuitlahuac</mat-option>
            <mat-option value="val2">Ecatepec</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Área Ínteres">
            <mat-option value="val1">val1</mat-option>
            <mat-option value="val2">val2</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Nivel*">
            <mat-option value="val1">Bachillerato</mat-option>
            <mat-option value="val2">Licenciatura</mat-option>
            <mat-option value="val2">Posgrado</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Modalidad">
            <mat-option value="val1">Presencial</mat-option>
            <mat-option value="val2">En línea</mat-option>
            <mat-option value="val2">Mixta</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Carrera">
            <mat-option value="val1">Prepa SEP</mat-option>
            <mat-option value="val2">Arquitectura</mat-option>
            <mat-option value="val2">Diseño</mat-option>
            <mat-option value="val2">Gastronomía</mat-option>
            <mat-option value="val2">Mercadotecnia</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Ciclo">
            <mat-option value="val1">18-2</mat-option>
            <mat-option value="val2">18-3</mat-option>
            <mat-option value="val2">19-1</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        &nbsp;
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="warn" class="cancelD" style="margin-left: 10px;">ASIGNAR</button>
    <button mat-raised-button color="warn" class="cancelD">DIRECTA</button>
    <button mat-raised-button color="warn" class="cancelD">GRUPAL</button>

  </div>


  <mat-grid-list cols="3" rowHeight="70px" style="margin-bottom: 50px;">
    <mat-grid-tile class="le">

    </mat-grid-tile>
    <mat-grid-tile>
      &nbsp;&nbsp;
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="btn">
        <button mat-raised-button color="warn" class="cancel">CANCELAR</button>
        <button mat-raised-button color="warn">GUARDAR</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>
